---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded hero">
  <div class="row align-items-center justify-content-between">
    <!-- Text Content -->
    <div class="col-12 order-2 order-md-1 col-md-6 text-center text-md-left">
      <h1 class="font-weight-bold mb-3 serif-font fs-4 fs-md-2">Skyler Boelts</h1>
      <h2 class="font-weight-bold mb-3 serif-font fs-5 fs-md-3">Gameplay Programmer and Technical Designer</h2>
      <p class="lead">
        I am a Gameplay Programmer specializing in multiplayer and systems-heavy games. I am skilled at developing gameplay systems that align with a creative vision while ensuring flexibility for iteration and balance tuning.
      </p>
      <p class="lead">
        I have released multiple games to Steam and have worked in both Unreal Engine 5 and Unity.
      </p>
      <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-4 btn-lg">More Information</a>
    </div>

    <!-- Image Content -->
    <div class="col-12 order-1 order-md-2 col-md-6 text-center">
      <img class="intro img-fluid" src="{{site.baseurl}}/assets/images/PFPv1.jpg" alt="Profile Picture">
    </div>
  </div>
</div>

{% endif %}

</div>


<!-- Buffer div to create spacing -->
<div style="height: 50px;"></div>
<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
        <div class="col-md-12 col-24 mb-5"> <!-- Use col-md-6 for two columns on medium+ screens and col-12 for full width on small screens -->
        {% include postbox.html %}
        </div>
      {% endif %}
  {% endfor %}  
</section>

<!-- Buffer div to create spacing -->
<div style="height: 50px;"></div>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-12">
    <div class="row">
      {% for post in site.posts %} <!-- Changed from paginator.posts to site.posts to remove limits -->
      {% unless post.featured == true %}
      <div class="col-md-6 col-12 mb-5"> <!-- Use col-md-6 for two columns on medium+ screens and col-12 for full width on small screens -->
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
</section>
</div>