---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font"> Skyler Boelts</h1>
      <p class="lead mb-4">I am a Gameplay Programmer specializing in multiplayer and systems-heavy games. I am skilled at developing gameplay systems that align with a creative vision while ensuring flexibility for iteration and balance tuning. I also am an experienced Technical Producer with a strong ability to collaborate across disciplines, communicate effectively, and manage tasks efficiently.</p>
      <p class="lead mb-4">I have released multiple games to Steam and have worked in both Unreal Engine 5 and Unity.</p>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/PFPv1.jpg">      
    </div>
    <div class="col-md-6 text-left">
    <a href="{{site.baseurl}}/about" class="btn btn-dark text-white px-5 btn-lg">More Information</a>
    </div>
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Buffer div to create spacing -->
<div style="height: 50px;"></div>

<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-12">
    <div class="row">
      {% for post in site.posts %} <!-- Changed from paginator.posts to site.posts to remove limits -->
      {% unless post.featured == true %}
      <div class="col-12 mb-5"> <!-- Changed col-md-6 to col-12 to make it full width -->
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
</section>
