---
layout: default
---
<!-- Post Featured Image -->
{% if page.video %}
<div class="text-center mx-auto mb-5">
  {% assign embed_video = post.video | replace: 'youtube.com/watch?v=', 'youtube.com/embed/' %}
  <iframe class="card-img-top rounded mb-4 responsive-video" width="1920" height="1080" src="{{ embed_video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% else if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="col-lg-10 mx-auto">

  <div class="mainheading">
    <h1 class="posttitle">{{ page.title }}</h1>
  </div>

  <div class="article-post serif-font">
    {{content}}
  </div>


</div>