---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

	<div class="row">
		

		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
        <div class="col-sm-12">
          <img class="card-img-top rounded mb-1" src="{{ site.baseurl }}/{{ page.teamImage }}" alt="{{ post.title }}">
          <!-- Post Featured Image -->
          {% if page.video %}
          <div class="item-center mx-auto d-flex justify-content-center mb-5">
              {% assign embed_video = page.video | replace: 'youtube.com/watch?v=', 'youtube.com/embed/' %}
              <div style="position: relative; width: 60%; max-width: 100%; padding-bottom: 33.75%; /* 16:9 aspect ratio */">
                  <iframe class="featured-image img-fluid rounded responsive-video" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;" src="{{ embed_video }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
          </div>
          {% else if page.image %}
          <img class="featured-image img-fluid rounded" style="width: 60%; max-width: 100%; height: auto; border-radius: 8px; margin: auto; display: block;" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
          {% endif %}
      <!-- End Featured Image -->
			<div class="mainheading">             
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1>         
				<h3 class="posttitle">Engine: <span class="highlight-color">{{ page.engine }}</span></h3>
				<h3 class="posttitle">Role: <span class="highlight-color">{{ page.role }}</span></h3> 

        <h2 class="page-list-text ">{{ page.gameSummary }}</h2>
                
			</div>

			
    </div>
  </div>

    </div>

			
        <!-- TECH CREATED -->
        {% if page.techCreated %}
        <div class="section-block">
          {% if page.team %}
          <h2 class="posttitle">Contributions</h2>   
          {% else %}
          <h2 class="posttitle">Tech Created</h2>   
          {% endif %}
          <ul>
            {% for member in page.techCreated %}
              <li class="page-list-text">{{ member }}</li>
            {% endfor %}
          </ul>
        </div>        
        {% endif %}
        {% if page.pdf %}
        <div class="section-block">
          <ul>
            <object data="{{ site.url }}{{ site.baseurl }}/{{page.pdf}}" width="100%" height="1000" type="application/pdf"></object>
          </ul>
        </div>        
        {% endif %}
        
        <!-- IMAGES -->
        {% if page.displayImages %}
        <div class="section-block">
          <div class="row">
            <h2 class="posttitle col-12">Images</h2>   
            {% for member in page.displayImages %}
              <div class="col-md-6 col-12 mb-4 d-flex justify-content-center">
                <img 
                  class="img-fluid rounded" 
                  style="width: 100%; max-width: 500px; border-radius: 8px;" 
                  src="{{ site.baseurl }}/{{ member }}" 
                  alt="Image">
              </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}


        <!-- CONTRIBUTIONS -->
         {% if page.hideContent != true %}
        <div class="section-block">
          <div class="content">
            <h2 class="posttitle">Project Summary</h2>   
            <!-- Replace this with your content -->
            {{content}}
            <div class="clearfix"></div>
          </div>
        </div>
        {% endif %}
        
        

        <!-- TEAM MAKEUP -->
        {% if page.team %}
        <div class="section-block">
          <h2 class="posttitle">Team</h2>   
          <ul>
            {% for member in page.team %}
            <li class="page-list-text">{{ member }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

<div class="site-wrapper">
      <!-- Your existing content goes here -->
            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
            
			
            
            <!-- Prev/Next -->
            <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">
              {% if page.previous.url %}
                <div class="col-md-6 rightborder pl-0">
                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
                </div>
              {% endif %}
              {% if page.next.url %}
                <div class="col-md-6 text-right pr-0">
                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
                </div>
              {% endif %}
            </div>
            <!-- End Prev/Next -->
            
            
             <!-- Author Box -->
                
                    <!-- {% if page.author %}				 -->
                    <!-- <div class="row post-top-meta"> -->
                        <!-- <div class="col-md-2"> -->
                            <!-- <img class="author-thumb" src="{{site.baseurl}}/{{author.avatar}}" alt="{{ author.display_name }}"> -->
                        <!-- </div> -->
                        <!-- <div class="col-md-10"> -->
                            <!-- <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a> -->
                            <!-- <span class="author-description">{{ author.description }}</span>						 -->
                        <!-- </div> -->
                    <!-- </div>				 -->
                    <!-- {% endif %} -->
               
            
            <!-- Begin Comments
            ================================================== -->
            <!-- <section> -->
            <!-- <div id="comments">                           -->
                <!-- {% include disqus.html %}  -->
            <!-- </div> -->
            <!-- </section>-->
            <!--End Comments
            ================================================== -->
            
            

		</div>
		<!-- End Post -->


        

            
        
        

	</div>

<!-- End Article
================================================== -->